*.a
*.egg
*.egg-info
*.html
*.log
*.prof
*.py[cod]
*.so
*.xml
.*

__pycache__/
assets/
build/
dist/
docker/poky/
docs/_build
downloads/
eggs/
htmlcov/
lib/
lib64/
libs/
parts/
sdist/
var/
wheels/

!.gitattributes
!.gitignore
!.gitkeep
